@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

.bio-container {
  display: flex;
  justify-content: center;
  font-family: "Titillium Web", sans-serif;
  background-image: url("../components/images/SpaceshipCartoon.jpg");
  background-repeat: no-repeat;
  height: 150vh;
  background-position: center;
  background-size: cover;
}

.about-info {
  text-align: center;
  display: flex;
  background-color: rgba(255, 255, 255, 0.466);
  border: 3px solid black;
  border-radius: 20px;
  padding: auto;
  margin: auto;
  width: 50%;
}

.student {
  padding: 1em;
}

.student-section {
  display: inline;
  text-align: center;
  justify-content: center;
  padding: 1em;
}

.student-name {
  text-decoration: underline;
  font-weight: 600;
}

.student-pic img {
  border: 3px solid black;
  border-radius: 20px;
}

.bio {
  display: inline;
  font-family: "Titillium Web", sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 50%;
}

@media (max-width: 768px) {
  .about-info {
  margin-top: 10em;
  width: 100%;
  }  

  .bio {
    font-size: 1em;
    font-weight: bold;
  }
}
