.Background {
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  background-image: url("../img/stars.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@media only screen and (max-width: 765px) {
  .Background {
    background-image: url("../img/moon.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    background-color: black;
  }
}

.Background {
  position: fixed;
  top: 50px;
  height: calc(100vh - 50px);
  width: 100vw;
  background-image: url("../img/Satellite.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
