.contact-container {
  display: flex;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  /* background-image: url("../img/SatelliteCartoon.jpg"); */
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.contact-info {
  background-color: rgba(255, 255, 255, 0.266);
  border: 3px solid black;
  border-radius: 10px;
  padding: auto;
  margin: auto;
  width: 50%;
  padding-top: 50px;
}

.contact-info li {
  padding: 20px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
  font-weight: 350;
}

.email-link {
  color: black;
  font-size: 20px;
  text-decoration: underline;
}
