.explore-container {
  text-align: center;
  background-color: rgb(78, 78, 131);
  height: 100vh;
}

.content {
  height: calc(100vh - 70px);
  width: 100vw;
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-button,
.save-button {
  padding: 1.5em;
  width: auto;
  cursor: pointer;
  position: relative;
}

.title {
  padding: 1em;
  color: #fff;
  text-shadow: 3px 3px 1px rgba(16, 16, 66, 0.8);
}

.image {
  max-width: 100%;
  width: 500px;
  height: 500px;
  border-radius: 2em;
  border: 3px solid #fff;
  box-shadow: 5px 5px 2px rgba(16, 16, 66, 0.6);
  margin-bottom: 1em;
  position: relative;
}

.caption {
  text-align: center;
  background-color: rgba(16, 16, 66, 0.411);
  color: #fff;
  padding: 1em;
  border-radius: 1em;
}

.explore-buttons {
  position: relative;
  top: -50px;
  right: 0px;
  padding: 10px;
}
