.explore-container {
  background-color: rgb(4, 12, 12);
  height: 100vh;
  overflow: hidden;
  background-image: url(./images/frame-resized.jpg);
  background-size: 100% 95%;
  background-position: center 100%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .content .image {
    max-width: 80%;
    position: relative;
    margin-top: 0;
  }
  .explore-container {
    background-image: none;
    background-color: rgba(16, 16, 66, 0.9);
  }
  .explore-container .content {
    padding-top: 2em;
  }
  .content .title {
    padding-bottom: 1em;
  }
}

.content {
  height: calc(100vh - 70px);
  width: 100vw;
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  padding-bottom: 8em;
  padding-top: 8em;
}

.button {
  padding-top: 2em;
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.explore-buttons {
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.title {
  color: #fff;
  text-shadow: 3px 3px 1px rgba(16, 16, 66, 0.9);
}

.image {
  max-width: 100%;
  width: auto;
  min-height: 60vh;
  height: auto;
  border-radius: 2em;
  border: 3px solid #fff;
  box-shadow: 6px 6px 2px rgba(16, 16, 66, 0.9);
  position: relative;
  z-index: 5;
  margin: 0;
  margin-top: 1em;
}

.caption {
  text-align: center;
  background-color: rgba(16, 16, 66, 0.8);
  text-shadow: 2px 2px 1px black;
  color: #fff;
  padding: 1em;
  margin: 1.5em;
  border-radius: 1em;
  z-index: 5;
  max-width: 90%;
}

/**Added so Explore matches Deidra's design for the nav menu**/
.titillium-title {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
}
