.Funnies {
  background-color: rgb(170, 170, 170);
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  width: 100vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  background-color: orange;
}

.laughing-kids-container {
  background-color: blue;
  position: relative;
  left: 10%;
}

.generate-joke-button-container {
  position: relative;
  top: 10px;
  background-color: red;
  width: fit-content;
}
