.buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  position: relative;
  top: 100px;
}

.joke-container {
  width: 100vw;
  position: relative;
  top: 100px;
  text-align: center;
}

#joke {
  color: black;
}

.laughing-kids-container {
  position: relative;
  top: 10px;
  left: 10px;
}

.Funnies {
  background-color: rgb(170, 170, 170);
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  width: 100vw;
}

.Funnies .generate-joke-button-container {
  position: relative;
  top: 10px;
  background-color: red;
  width: fit-content;
}
