.LaughingKidsImage .laughing-space-kids {
  background: url("./images/laughing-space-kids.jpeg");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 425px;
  border-radius: 20px;
  border: solid 5px white;
}
